node_modules/
packages/*/lib/
packages/*/build/
packages/*/coverage/
packages/*/docs_build/
packages/*/site/
packages/*/test/browser.html
packages/*/test/data/
packages/antelope/test/*.json
bun.lock
*.svelte
packages/svelte-components/
packages/web-ui/
packages/session/src/sessionkey/systemcontract.ts
